/* Define a container class for each point in the paragraph */
.bloghead{
  text-align:center;
  font-size:3rem;
  color:palevioletred;;
}
.blog-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.blog-point-container {
    border: 1px solid palevioletred;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 15px;
    max-width: 400px;
    background-color: palevioletred;;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    height:200px;
    color:white;


  }
  .blog-point-container:hover{
    transform: scale(1.05);

  }
  
  /* Style for the heading of each point */
  .blog-point-heading1 {
    font-size: 22px;
    margin:30px;
    font-weight: bold;
    color:palevioletred;;
  }
  .blog-point-heading {
    font-size: 22px;
    margin:10px;
    font-weight: bold;
    color: white;
  }
  
  /* Style for the content of each point */
  .blog-point-content1 {
    font-size: 20px;
    color: palevioletred;;
    margin:10px 100px 10px 100px;
  }
  .blog-point-content {
    font-size: 14px;
    color: white;
  }
  
  /* Apply specific styling for the numbered points */
  .blog-point-numbered {
    counter-reset: numbered-point;
  }
  
  .blog-point-numbered li {
    counter-increment: numbered-point;
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  .blog-point-numbered li::before {
    content: counter(numbered-point) ".";
    margin-right: 8px;
    font-weight: bold;
    color: palevioletred;; /* Blue color for the numbered point */
  }
  